.title {
  padding: 40px 6.25% 5px;
  text-align: center;
  background-color: #ffffff;

  @media @tablet {
    padding: 50px 0;
  }

  &--gallery-photo {
    padding-top: 38px;
    padding-bottom: 26px;

    @media @tablet {
      padding: 74px 0 69px;
    }

    @media @desktop {
      padding: 111px 0 71px;
    }
  }

  &--gallery-video {
    padding-top: 33px;
    padding-bottom: 34px;

    @media @tablet {
      padding: 66px 0 73px;
    }

    @media @desktop {
      padding: 70px 0 71px;
    }
  }

  //&--form {
  //  padding-top: 38px;
  //  padding-bottom: 16px;
  //
  //  @media @tablet {
  //    padding: 75px 0 73px;
  //  }
  //
  //  @media @desktop {
  //    padding: 112px 0 58px;
  //  }
  //}
}

.title__slogan {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color-heading;

  @media @tablet {
    margin: 0 auto;
    font-size: 22px;

    display: block;
    max-width: 520px;
  }

  //&--index {
  //  @media @tablet {
  //    font-size: 21px;
  //  }
  //}
}

.title__intro {
  margin: 27px auto 0;
  line-height: 24px;

  @media @tablet {
    margin-top: 31px;
  }

  &--gallery-photo {
    max-width: 445px;
  }

  &--gallery-video {
    max-width: 430px;
  }
}

//.page-main__photo-gallery {
//  margin: 0 auto;
//  width: 320px;
//
//  @media @tablet {
//    display: flex;
//    flex-wrap: wrap;
//    padding-left: 60px;
//    padding-right: 60px;
//    width: 648px;
//  }
//
//  @media @desktop {
//    padding-left: 0;
//    padding-right: 0;
//    width: auto;
//  }
//}

//.page-main__video-gallery {
//  margin: 0 auto;
//  padding-bottom: 105px;
//
//  @media @tablet {
//    padding-bottom: 41px;
//    width: 768px;
//  }
//
//  @media @desktop {
//    padding-bottom: 85px;
//    width: auto;
//  }
//}
